{% extends 'blog/base.html' %}
	
{% block content %}

	<div class="main">
		<div class="post">
			<div class="title"><h1>{{ post.title }}</h1></div>
			<div class="description_post">{{ post.description }}</div>			
			{% if post.published_date %}
				<div class="byline">
					published: {{ post.published_date }} by {{ post.author }}
				</div>
			{% endif %}
			
			{% if user.is_superuser %}
				<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
			{% endif %}
						
			<div class="content_post">
				<p>{{ post.content|linebreaksbr }}</p>
			</div>		
		</div>
				
		<div class="post">						
			<div class="content_post">
				<p>{{ post2.content|linebreaksbr }}</p>
			</div>
			<div class="content_post">
				<form method="post">
					{% csrf_token %}
					{{ form }}
					<input type="submit" value="Submit" />
				</form>
			</div>
		</div>
		
		<div class="post">						
			<div class="content_post">
				<p>{{ post3.content|linebreaksbr }}</p>
			</div>
			<div class="content_table">
				{{ table1|safe }}
			</div>						
			<div class="content_post">
				<p>{{ post4.content|linebreaksbr }}</p>
			</div>
			<div class="content_table">
				{{ table2|safe }}
			</div>
		</div>
		<div class="post">
			<div class="content_post">
				<p>{{ post5.content|linebreaksbr }}</p>
			</div>
			<div id="graphTopic">
				<center>
				{{ graph|safe }}
				</center>
				<center>
				<h6>Legend: 1 = 'Film & Animation', 2 = "Autos & Vehicles", 10 = 'Music', 15 = 'Pets & Animals', 17 = 'Sports', 18 = 'Short Movies', 19 = 'Travel & Events', 20 = 'Gaming', 21 = 'Videoblogging', 22 = 'People & Blogs', 23 = 'Comedy', 24 = 'Entertainment', 25 = 'News and Politics', 26 = 'Howto and Style', 27 = 'Education', 28 = 'Science & Technology', 29 = 'Nonprofit & Activism', 30 = 'Movies', 31 = 'Anime/Animation', 32 = 'Action/Adventure', 33 = 'Classics', 34 = 'Comedy', 35 = 'Documentary', 36 = 'Drama', 37 = 'Family', 38 = 'Foreign', 39 = 'Horror', 40 = 'Sci-fi-Fantasy', 41 = 'Thriller', 42 = 'Shorts', 43 = 'Shows', 44 = 'Trailers'</h6>
				</center>
			</div>
			<div class="frm">
				<center>
				<form method="get" action="/post/7//ca">
					<button type="submit">CA/Canada</button>
				</form>
				<form method="get" action="/post/7//de">
					<button type="submit">DE/Germany</button>
				</form>
				<form method="get" action="/post/7//fr">
					<button type="submit">FR/France</button>
				</form>
				<form method="get" action="/post/7//gb">
					<button type="submit">GB/United Kingdom</button>
				</form>
				<form method="get" action="/post/7//us">
					<button type="submit">US/United States</button>
				</form>
				</center>
			</div>
			<div class="content_post">
				<p>{{ post6.content|linebreaksbr }}</p>
			</div>
		</div>
		<div class="post">
			<div class="content_post">
				<p>{{ post7.content|linebreaksbr }}</p>
			</div>
		</div>
	</div>
{% endblock %}