body {
	background-color: #FAF5F6;
}

.page-header {
	font-family: 'Oswald', sans-serif;
    background-color: #F2DCE1;
    margin-top: 0;
    padding: 20px 20px 20px 140px;
}

.page-header h1 {
	font-size: 72;
}

.page-header h4 {
	font-size: 25;
    color: #29B4FF;
}

.log_status {
	font-size: 20;
}

.new_account a {
    color: #2942FF;
}

.main {
    padding-left: 100px;
}

.premain {
    padding-left: 140px;
}

.new {
    font-family: 'Oswald', sans-serif;
	font-size: 40;
    padding: 10px 0px 10px 40px;
	margin-bottom: 20;
    background-color: #F5EBED;
}

.post {
    padding: 20px 20px 20px 40px;
	margin-bottom: 20;
    background-color: #FFFFFF;
}

.title {
    font-family: 'Oswald', sans-serif;
	font-size: 30;
}

.title h1 {
	font-size: 70;
}

.byline {
    font-family: 'Mina', sans-serif;
}

.description {
    font-family: 'Oswald', sans-serif;
	font-size: 18;
    margin-left: 40px;
}

.description_post {
    font-family: 'Oswald', sans-serif;
	font-size: 25;
	color: #8A8A8A;
}

.content {
    margin-left: 40px;
}

.content_post {
	margin-top: 20;
    margin-left: 40px;
}

.login {
    font-family: 'Mina', sans-serif;
    background-color: #FFFFFF;
    padding: 20px 20px 20px 40px;
    max-width: 400px; 
    max-height: 100%;
	margin:0px auto;
	resize: none;
}

.login h2 {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 20px;
}

.signup {
    font-family: 'Mina', sans-serif;
    background-color: #FFFFFF;
    padding: 20px 20px 20px 40px;
    max-width: 400px; 
    max-height: 100%;
	margin:0px auto;
	resize: none;
}

.signup h2 {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 20px;
}