body {
	background-color: #FAF5F6;
}

.page-header {
	font-family: 'Oswald', sans-serif;
    background-color: #F2DCE1;
    margin-top: 0;
    padding: 20px 20px 20px 140px;
}

.page-header h1 {
	font-size: 72;
}

.page-header h4 {
	font-size: 25;
    color: #29B4FF;
}

.main {
    padding-left: 100px;
}

.premain {
    padding-left: 140px;
}

.new {
    font-family: 'Oswald', sans-serif;
	font-size: 40;
    padding: 10px 0px 10px 40px;
	margin-bottom: 20;
    background-color: #F5EBED;
}

.post {
    padding: 20px 20px 20px 40px;
	margin-bottom: 20;
    background-color: #FFFFFF;
}

.title {
    font-family: 'Oswald', sans-serif;
	font-size: 30;
}

.title h1 {
	font-size: 64;
}

.byline {
    font-family: 'Mina', sans-serif;
}

.content {
    margin-left: 40px;
}